<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88960723998-s3ev46ou37e0n1etucme00vb1u5crqj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88960723998-s3ev46ou37e0n1etucme00vb1u5crqj1</string>
	<key>API_KEY</key>
	<string>AIzaSyAMT-14vPjWdL1WwQ_1MtaYAiiJ8_EY0nk</string>
	<key>GCM_SENDER_ID</key>
	<string>88960723998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>ovarythmm</string>
	<key>STORAGE_BUCKET</key>
	<string>ovarythmm.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88960723998:ios:369130f78fb30c4933d20f</string>
</dict>
</plist>